.environment-content {
    font-size: 26px;
    box-sizing: content-box;
    height: 500px;

    ul {
        text-transform: uppercase;
        list-style: square;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: bold;
        padding-left: 15px;

        display: flex;
        flex-direction: column;    
    }

    li {
        margin: 10px;
        
    }
}

.list-environment {

    p {
        font-size: 16px;
        padding: 0;
    }
}