.experience-content {

    font-family: 'Ubuntu Mono', monospace;
    box-sizing: content-box;
    height: 568px;
    overflow: auto;
    padding-right: 10px;

    h4 {
        border-bottom: 1px dashed rgb(21, 226, 21);
        padding-bottom: 3px;

        p {
            color: rgba(255, 255, 255, 0.4);
            font-weight: normal;
            margin: 0;
        }
        
    }

    span {
        color: rgb(21, 226, 21);

    }

    a {
        color: rgb(21, 226, 21);
        font-weight: bold;
    }
  

    p, li {
        font-size: 14px;
        list-style: square;
    }

    p :nth-child(3) {
        font-weight: bold;
    }   
}
