.container-form {
	display: flex;
	justify-content: center;
}
.form {
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 1px 5px 5px black;
	font-family: 'Press Start 2P', ;
	width: 51%;
	text-align: center;

	button {
		cursor: pointer;
		border: none;
		font-size: 17px;
		font-weight: bold;
		padding: 8px;
		width: 80px;
		box-shadow: 1px 3px 3px grey;
		font-family: 'Press Start 2P', ;
	}
}

.button-form {
	position: relative;
	display: flex;
	justify-content: space-around;
}	

.button-no:hover {
	background-color: white;
	box-shadow: none;
	color: white;
}


.button-no:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	
  }

  .tooltiptext {
	font-size: 13px;;
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 75%;
	margin-left: -60px;
	padding: 5px;
  }

  .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 62%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }