.info-tab {
    display: flex;
    justify-content: flex-end;
     td,
     th {
         border: 1px solid #ffffff;
         padding: 10px;
     }
 }


td {
    text-align: center;
}

tr {
    padding: 10px;
    box-sizing: border-box;
}

tbody {
    border-collapse: collapse;
    border: 2px solid #ffffff;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width: 40%;
    font-size: 15px;
    font-family: 'Press Start 2P', ;
    margin: 0.3em;
}

@media (max-width: 1550px) {
    tbody {
        font-size: 12px;
    }
}

@media (max-width: 1300px) {
    tbody {
        font-size: 10px;
    }
}






