#border {
    position: absolute;
    width: 60%;
    box-sizing: content-box;
    margin: 10em auto;
    z-index: 11;
    left: 20%;

    border: 5px dashed rgb(21, 226, 21);
    box-shadow: 0px 0px 30px -3px rgb(21, 226, 21);

}

// ========= Animation Border ======== \\

#border {
    animation-duration: 1s;
    animation-name: border;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes border{
    from {
        box-shadow: 0px 0px 60px -3px rgb(21, 226, 21);
    }
    
    to {
        box-shadow: 0px 0px 10px -3px rgb(21, 226, 21);
    }
}


.popup {
    // position: absolute;
    // width: 60%;
    // height: 500px;
    padding: 1em;
    // box-sizing: content-box;
    // overflow: hidden;
    // margin: 6em auto;
    // z-index: 11;
    // left: 20%;

    
    background-color: rgb(95, 94, 94);
    // border: 5px dashed rgb(21, 226, 21);
    // box-shadow: 0px 0px 30px -3px rgb(21, 226, 21);

    display: flex;
    flex-direction: column;
    align-items: center;
   

    span {
        color: rgb(21, 226, 21);
        animation: span 2s infinite; 
    }

    @keyframes span{
        0%{color: orange;}	
        10%{color: purple;}	
        20%{color: red;}
        30%{color: CadetBlue;}
        40%{color: yellow;}
        50%{color: coral;}
        60%{color: green;}
        70%{color: cyan;}
        80%{color: DeepPink;}
        90%{color: DodgerBlue;}
        100%{color: orange;}
    }


    button {
        width: 100px;
        height: 30px;
        font-family: 'Press Start 2P', ;
        font-size: 11px;
        padding: 0;
        color: rgb(21, 226, 21);
    }

    button:hover {
        border-radius: 5px; 
    }
}

.popup-content {
    font-family: 'Press Start 2P', ;
    text-align: center;

    h4 {
        margin: 10px 0;
    }
}

.contact {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    flex-direction: column;;
    align-items: center;
    font-size: 20px;

    a {
        color: black;
    }

    ul {
        list-style: none;
        padding: 0;
        
    }


}

.inactive {
    display: none;
}


// https://developer.mozilla.org/fr/docs/Web/CSS/Animations_CSS/Utiliser_les_animations_CSS

